body {
  background-color: rgb(113, 188, 190);
  text-align: center;
  overflow: auto;
  font-family: 'Rubik', sans-serif;
}

nav {
  width: 100%;
  margin: 0;
}

.flexNav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  background-color: beige;
  padding: 3px;
  border-radius: 4px;
  font-size: 2.5vmin;
}

.active {
  background-color: black;
  color: beige;
}

h1 {
 font-size: 6vmin;
}

h3 {
  font-size: 3vmin;
}

.profileImage {
  border-radius: 50%;
  width: 20%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.blogList {
  padding: 1em;
  font-size: 1em;
}

.blogs {
  padding: 1rem 2rem;
  background-color: wheat;
  border-radius: 1rem;
  margin: 1rem;
  display: inline-flex;
  justify-content: space-evenly;
  }

section {
  text-align: left;
  border-bottom: solid 3px black;
}

#testimonial {
  border: solid 1px black;
  background-color: antiquewhite;
  text-align: left;
  padding: 3vw;
  margin: 4vw;
}

.blogbase {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

.blogbox {
  border: solid 1px black;
  background-color: rgb(183, 218, 219);
  padding: 1rem;
}

.smallbox {
  background-color: rgb(128, 188, 190);
  border: solid 1px grey; 
  padding: 2vmin; 
  margin: 2vw;
}

.elements {
  outline: solid 1px darkgray;
  background-color: lightgrey;
}

.inlineExample {
  outline: solid 1px red;
  height: 100px;
  margin: 20px;
  padding: 5px;
}

.inlineBlockExample {
  display: inline-block;
  outline: solid 1px blueviolet;
  height: 20px;
  margin: 20px;
  padding: 5px;
}

@media screen and (min-width: 840px) {
  .blogbase {
    display: flex;
    flex-direction: row;
    margin: 2vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blogbox {
    max-width: 40%;
    min-width: 20%;
  }

  .bottom {
    align-self: center;
  }

  .smallblogbox {
  width: 25%;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 8vw;
  }

  h3 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw; 
  }
}