body {
  background-color: rgb(113, 188, 190);
  text-align: left;
  overflow: auto;
  font-family: 'Rubik', sans-serif;
  margin: 0 3vw;
}

nav {
  width: 100%;
  margin: 0;
}

.flexNav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 3px;
  background-color: beige;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.nav {
  background-color: beige;
  padding: 3px;
  border-radius: 4px;
  font-size: 2.5vmin;
}

.active {
  background-color: black;
  color: beige;
}

h1 {
 font-size: 6vmin;
 padding: 4vmin;
}

h3 {
  font-size: 3vmin;
}

.profileImage {
  border-radius: 50%;
  width: 20%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.textBlocks {
  max-width: 800px;

}

.blogList {
  padding: 1em;
  font-size: 1em;
}

.blogs {
  padding: 1rem 2rem;
  background-color: wheat;
  border-radius: 1rem;
  margin: 1rem;
  display: inline-flex;
  justify-content: space-evenly;
  }

section {
  text-align: left;
  border-bottom: solid 3px black;
  padding: 0 3vw 0 3vw;
}

#testimonial {
  border: solid 1px black;
  background-color: antiquewhite;
  text-align: left;
  padding: 3vw;
  margin: 4vw;
}

.blogbase {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

.blogbox {
  border: solid 1px black;
  background-color: rgb(183, 218, 219);
  padding: 1rem;
}

.smallbox {
  background-color: rgb(128, 188, 190);
  border: solid 1px grey; 
  padding: 2vmin; 
  margin: 2vw;
}

.elements {
  outline: solid 1px darkgray;
  background-color: lightgrey;
}

.inlineExample {
  outline: solid 1px red;
  height: 100px;
  margin: 20px;
  padding: 5px;
}

.inlineBlockExample {
  display: inline-block;
  outline: solid 1px blueviolet;
  height: 20px;
  margin: 20px;
  padding: 5px;
}

.code-image {
  min-width: 570px;
}

.bullet-points {
  list-style-type: circle;
  margin: 0 4vw;
  }

.twtw-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;

}

.twtw {
  grid-area: 1/1/4/4;
}

.twtw1 {
  grid-row: 1;
  grid-column: 1;
}

.twtw2 {
  grid-row: 1;
  grid-column: 3;
}

.twtw3 {
  grid-row: 2;
  grid-column: 1;
}

.twtw4 {
  grid-row: 2;
  grid-column: 3;
}

.twtw5 {
  grid-row: 3;
  grid-column: 2;
}

footer {
display: flex;
justify-content: space-evenly;
flex-direction: row;
align-items: center;
/* padding: 2vw;
margin:0;
position:static;
bottom: 0; */

}


@media screen and (min-width: 840px) {

  main {
    margin-left: 10%;
  }
  
  .blogbase {
    display: flex;
    flex-direction: row;
    margin: 2vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blogbox {
    max-width: 40%;
    min-width: 20%;
  }

  .bottom {
    align-self: center;
  }

  .smallblogbox {
  width: 25%;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 8vw;
  }

  h3 {
    font-size: 6vw;
  }

  p {
    font-size: 4vw; 
  }
}